<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Festival Survey{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/dmu-logo.png" />

    {% block head %}{% endblock %}
</head>
<body>

    <header class="main-header" style="width:100%; display: flex; justify-content: space-between; height: 70px; align-items: center; padding: 0 20px;">
        <span>DMU</span>
        {% if "admin" in request.url.path %}
            <a href="/logout" style="color: white; font-size: 0.9rem; text-decoration: none;">
                <i class="fas fa-sign-out-alt"></i> 로그아웃
            </a>
        {% endif %}
    </header>

    <main style="{% block main_style %}{% endblock %}">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Developed by @JungwooJoon</p>
    </footer>

</body>
</html>